{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h2 class="text-center mt-4">Gestión de Tareas</h2>
    <a href="{% url 'task_create' %}" class="btn btn-primary mb-3">Agregar Tarea</a>
    <form method="GET" class="mb-3">
        <div class="row">
            <div class="col-md-4">
                <input type="text" name="q" class="form-control" placeholder="Buscar tarea..." value="{{ query }}">
            </div>
            <div class="col-md-3">
                <select name="priority" class="form-select">
                    <option value="">Filtrar por Prioridad</option>
                    <option value="L" {% if priority_filter == "L" %}selected{% endif %}>Baja</option>
                    <option value="M" {% if priority_filter == "M" %}selected{% endif %}>Media</option>
                    <option value="H" {% if priority_filter == "H" %}selected{% endif %}>Alta</option>
                </select>
            </div>
            <div class="col-md-3">
                <select name="status" class="form-select">
                    <option value="">Filtrar por Estado</option>
                    <option value="P" {% if status_filter == "P" %}selected{% endif %}>Pendiente</option>
                    <option value="E" {% if status_filter == "E" %}selected{% endif %}>En progreso</option>
                    <option value="C" {% if status_filter == "C" %}selected{% endif %}>Completada</option>
                </select>
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary w-100">Filtrar</button>
            </div>
        </div>
    </form>
    
   
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Título</th>
                <th>Prioridad</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{ task.title }}</td>
                <td>{{ task.get_priority_display }}</td>
                <td>{{ task.get_status_display }}</td>
                <td>
                    <a href="{% url 'task_update' task.id %}" class="btn btn-warning">Editar</a>
                    <a href="{% url 'task_delete' task.id %}" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
